* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('./assets/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gilroy-Bold';
  src: url('./assets/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Heavy';
  src: url('./assets/fonts/Gilroy-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background : #131313;
  --headline : #fffffe;
  --paragraph : #94a1b2;
  --button : #6633ff;
  --button-txt : #fffffe;
  --stroke : #010101;
  --success: #2cb67d;
  --danger : #fb4b4b;
  --secondary : #72757e;
  --content-bg: #222222;
}

ion-icon {
  display: block;

}

body {
  font-family: 'Gilroy-Regular', sans-serif;
  background: var(--background);
}

